html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

:root {
}

h1,
h2,
h3,
h4 {
	font-family: 'Fira Sans Condensed', sans-serif;
	color: var(--invert);
}

h1 {
	font-size: 3rem;
}

span {
	font-family: 'Fira Sans Condensed', sans-serif;
}

body {
	margin: 0;
}

.container {
	margin: 0 auto;
	min-height: 100vh;
	width: 100%;
	background-color: var(--primary);
	display: grid;
	gap: 20px;
	align-content: flex-start;
	justify-content: center;
}

.header {
	display: grid;
	align-content: center;
	justify-content: center;
	height: 100px;
}

.my-library {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: row;
	grid-template-rows: repeat(auto-fill, 250px);
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.my-library > * {
	height: 200px;
	font-family: 'Quattrocento Sans', sans-serif;
	color: var(--invert);
	background-color: var(--secondary);
	border: 1px solid red;
}

#book-card {
	border-radius: 0px 10px 10px 0px;
	padding: 20px;
	display: grid;
	gap: 10px;
	overflow: hidden;
	align-items: center;
	grid-template-rows: 2fr 20px 20px 20px 1fr;
	grid-template-columns: 1fr 25px;
	grid-template-areas:
		'title menu-icon'
		'author menu-icon'
		'pages .'
		'read-status .'
		'tags .';
}

.book-title {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.25rem;
	grid-area: title;
}

.card-menu-icon {
	grid-area: menu-icon;
	align-self: flex-start;
	justify-self: flex-end;
	position: relative;
	top: -20px;
	right: -20px;
}

.book-author {
	grid-area: author;
	font-size: 0.9rem;
}

.book-pages {
	grid-area: pages;
	font-size: 0.85rem;
}

.read-status {
	grid-area: read-status;
	font-size: 0.85rem;
}

.accent-span {
	font-weight: 500;
	color: var(--accent);
}

.invert-span {
	font-weight: 500;
}

.book-tags {
	grid-area: tags;
	font-size: 0.7rem;
	text-transform: uppercase;
	opacity: 0.8;
	font-family: 'Fira Sans Condensed', sans-serif;
	align-self: flex-end;
}

#toggle-read-status {
	grid-area: read-toggle;
}

#book-card > .fa-eye-slash {
	background-color: rgb(var(--unread));
}

.remove-icon {
	grid-area: remove-icon;
	padding: 5px;
}

.card-menu-titles {
	font-size: 0.7rem;
	font-weight: 300;
	display: inline-block;
	padding-left: 10px;
}

.card-menu {
	display: grid;
	justify-content: flex-start;
	justify-items: flex-start;
}

/* Read/Unread Card Colors */
.book-read {
	border: 1px solid var(--accent);
	/* background-color: rgba(var(--read), 0.3); */
	box-shadow: 5px 5px 10px var(--accent);
}

.book-unread {
	border: 1px solid var(--invert);
	box-shadow: 5px 5px 10px var(--invert);
	/* background-color: rgba(var(--unread), 0.3); */
}

/* Add Book Form Style */
.container > form {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-auto-flow: column;
	gap: 10px;
	margin: 10px 0;
	grid-template-columns: 1fr 1fr 75px 100px 100px 100px;
}

.container > form > input,
select {
	height: 50px;
	background-color: var(--secondary);
	border-radius: 6px;
	border: 0;
	box-sizing: border-box;
	color: var(--invert);
	font-size: 14px;
	font-family: 'Fira Sans Condensed', sans-serif;
	outline: 0;
	padding: 4px 20px 0;
}

.container > form > button {
	height: 50px;
	width: 100px;
	background-color: var(--secondary);
	color: var(--accent);
	border-radius: 6px;
	border: 1px solid var(--accent);
	box-sizing: border-box;
}

input::placeholder {
	opacity: 1;
}

/* Dropdown Button */

.card-menu-icon {
	color: var(--accent);
	background-color: none;
	border: none;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.card-menu-icon:hover,
.card-menu-icon:focus {
	background-color: var(--accent);
	color: var(--secondary);
}

/* Dropdown Content (Hidden by Default) */
.card-menu {
	padding: 10px;
	overflow: hidden;
	display: none;
	position: relative;
	top: -40px;
	right: 130px;
	background-color: var(--primary);
	min-width: 150px;
	box-shadow: 3px 3px 20px 0px var(--accent);
	z-index: 1;
	border-radius: 5%;
	border: 1px solid var(--accent);
}

/* Links inside the dropdown */
.card-menu li {
	color: var(--light-invert);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

/* Change color of dropdown links on hover */
.card-menu li:hover {
	background-color: var(--secondary);
	color: var(--invert);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

@media (max-width: 900px) {
	.my-library {
		margin: 0 auto;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(auto-fit, auto);
		grid-auto-flow: row;
		gap: 20px;
	}

	.container > form {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-auto-flow: row;
		gap: 10px;
		margin: 10px 0;
		grid-template-columns: 250px 250px;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

@media (max-width: 600px) {
	.my-library {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(auto-fit, auto);
		grid-auto-flow: row;
		gap: 20px;
	}

	.container > form {
		display: grid;
		align-items: center;
		justify-content: center;
		justify-items: stretch;
		grid-auto-flow: row;
		gap: 10px;
		margin: 10px 0;
		grid-template-columns: 250px;
	}
}
.visually-hidden {
	display: none;
}
.color-picker > fieldset {
	border: 0;
	display: flex;
	width: fit-content;
	gap: 2rem;
	background: var(--secondary);
	padding: 1rem 2rem;
	margin-inline: auto;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 1px 1px 5px 5px var(--accent);
}

.color-picker input[type='radio'] {
	appearance: none;
	width: 1rem;
	height: 1rem;
	outline: 2px solid var(--radio-color, currentColor);
	outline-offset: 2px;
	border-radius: 25%;
}

.color-picker input[type='radio']:checked {
	background-color: var(--radio-color);
}

.color-picker input[type='radio']#darkblue-theme {
	--radio-color: rgb(103 255 225);
}

.color-picker input[type='radio']#darkpurple-theme {
	--radio-color: rgb(192, 103, 255);
}

.color-picker input[type='radio']#darkorange-theme {
	--radio-color: rgb(255, 166, 103);
}

.color-picker input[type='radio']#light-theme {
	--radio-color: rgb(204 214 246);
}

.darkblue-theme {
	--primary: rgb(12 24 47);
	--secondary: rgb(23 42 69);
	--invert: rgb(204 214 246);
	--accent: rgb(103 255 225);
}

:root:has(#darkblue-theme:checked) {
	--primary: rgb(12 24 47);
	--secondary: rgb(23 42 69);
	--invert: rgb(204 214 246);
	--accent: rgb(103 255 225);
}

.darkpurple-theme {
	--primary: rgb(27, 12, 47);
	--secondary: rgb(49, 23, 69);
	--invert: rgb(204 214 246);
	--accent: rgb(192, 103, 255);
}

:root:has(#darkpurple-theme:checked) {
	--primary: white;
	--secondary: rgb(226, 226, 226);
	--invert: black;
	--accent: rgb(35, 73, 126);
}

.darkorange-theme {
	--primary: rgb(47, 32, 12);
	--secondary: rgb(69, 42, 23);
	--invert: rgb(204 214 246);
	--accent: rgb(255, 166, 103);
}

:root:has(#darkorange-theme:checked) {
	--primary: rgb(47, 32, 12);
	--secondary: rgb(69, 42, 23);
	--invert: rgb(204 214 246);
	--accent: rgb(255, 166, 103);
}

.light-theme {
	--primary: rgb(226, 226, 226);
	--secondary: white;
	--invert: black;
	--accent: rgb(111, 146, 174);
}

:root:has(#light-theme:checked) {
	--primary: white;
	--secondary: rgb(226, 226, 226);
	--invert: black;
	--accent: rgb(35, 73, 126);
}
